button {
    margin-top: 1%;
    margin-right: 27.5%;
}

.form-group {
    margin: 1.5%; 
    border: 0;
}

.no-border {
    border: 0;
    box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
}

.d-flex {
    margin-bottom: 0%;
}

img {
    width: 20%;
    height: auto;
}


