<div class="container">
    <div class="input-group">
        <input type="search" [(ngModel)]="busqueda" class="form-control rounded" placeholder="Ingresa nombre del maestro" aria-label="Search"
          aria-describedby="search-addon" />
        <button type="button" class="btn btn-primary" (click)="buscarMaestro(busqueda)">Buscar</button>
      </div>
</div>
<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">ID</th>
                <th scope="col">Disponibilidad</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let maestro of maestros">
                <th scope="row">*</th>
                <td>{{maestro.nombres}}</td>
                <td>{{maestro.id}}</td>
                <td><i class="fas fa-calendar-check"></i></td>
                <td>
                    <button type="button" class="btn btn-primary" (click)="verDisponibilidad()"><i class="far fa-eye"></i></button>
                    <button type="button" class="btn btn-danger" (click)="borrarDisponibilidad()"><i class="far fa-trash-alt"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" (click)="atras()">Atras</button>
</div>