<div class="container">
    <div class="input-group">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
          aria-describedby="search-addon" />
        <button type="button" class="btn btn-primary">Buscar</button>
      </div>
</div>
<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">ID</th>
                <th scope="col">Disponibilidad</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let maestro of maestros">
                <th scope="row">1</th>
                <td>{{maestro.nombres}}</td>
                <td>{{maestro.id}}</td>
                <td>true</td>
                <td>
                    <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                    <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" (click)="atras()">Atras</button>
</div>