.container {
  margin-bottom: 20px;
}

.form-select{
  margin-right: 20px;
}

.form-control{
  margin-right: 20px;
}

button {
  margin: 3px;
}

.container-icon-red{
  background-color: rgb(243, 93, 93);
  font-size: 25px;
  color: white;
  height: 40px;
  width: 50px;
  text-align: center;
  border-radius: 30px;
  margin-left: 40%;
}

.container-icon-green{
  background-color: rgb(30, 173, 78);
  font-size: 25px;
  color: white;
  height: 40px;
  width: 50px;
  text-align: center;
  border-radius: 30px;
  margin-left: 40%;
}